<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bidzis.rsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".User.RegisterUserActivity" />
        <activity android:name=".Ticket.SendTicketActivity" />
        <activity android:name=".Permission.PermissionManagementActivity" />
        <activity android:name=".Permission.PermissionGetAllActivity" />
        <activity android:name=".Permission.PermissionSaveActivity" />
        <activity android:name=".Permission.PermissionRemoveActivity" />
        <activity android:name=".History.HistoryManagementActivity" />
        <activity android:name=".History.HistoryGetAllActivity" />
        <activity android:name=".History.HistoryRemoveActivity" />
        <activity android:name=".History.HistorySaveActivity" />
        <activity android:name=".History.HistoryDetailsActivity" />
        <activity android:name=".Project.ProjectManagementActivity" />
        <activity android:name=".Project.ProjectGetAllActivity" />
        <activity android:name=".Project.ProjectChangeNameActivity" />
        <activity android:name=".Project.ProjectRemoveActivity" />
        <activity android:name=".Project.ProjectSaveActivity" />
        <activity android:name=".Project.ProjectDetailsActivity" />
        <activity android:name=".Project.ProjectChangeNameResultActivity"></activity>
    </application>

</manifest>