<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bidzis.rsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".User.RegisterUserActivity" />
        <activity android:name=".Ticket.SendTicketActivity" />
        <activity android:name=".User.UserManagementActivity" />
        <activity android:name=".UserSettings.UserSettingsActivity" />
        <activity android:name=".User.ShowAllUsersActivity" />
        <activity android:name=".User.GetUserByActivityActivity" />
        <activity android:name=".User.GetUserByNameAndSurnameActivity" />
        <activity android:name=".User.GetUsersByRoleActivity" />
        <activity android:name=".User.RemoveUsersActivity" />
        <activity android:name=".User.SaveUserActivity" />
        <activity android:name=".User.ChangeUserActiveActivity" />
        <activity android:name=".User.ChangeUserActiveWindowActivity" />
        <activity android:name=".UserSettings.ChangeEmailActivity" />
        <activity android:name=".UserSettings.ChangeLoginActivity" />
        <activity android:name=".UserSettings.ChangePasswordActivity" />
        <activity android:name=".User.UpdateProjectForUserActivity" />
        <activity android:name=".User.UpdateProjectForUserProjectListActivity" />
        <activity android:name=".Ticket.GetTicketByTypeActivity" />
        <activity android:name=".Ticket.GetAllActivity" />
        <activity android:name=".Ticket.GetTicketsByPriorityActivity" />
        <activity android:name=".Ticket.GetTicketsByProjectActivity" />
        <activity android:name=".Ticket.GetTicketsByUserActivity" />
        <activity android:name=".Ticket.GetByTypeActivity" />
        <activity android:name=".Ticket.TicketMenagmentActivity" />
        <activity
            android:name=".User.UserSiteActivity"
            android:label="@string/title_activity_user_site"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Ticket.GetTicketByTicketTypeListPriorityActivity" />
        <activity android:name=".Ticket.GetTicketByProjectListActivity" />
        <activity android:name=".Ticket.GetTicketsByUserListActivity" />
        <activity android:name=".Ticket.RemoveTicketActivity" />
        <activity android:name=".User.SimpleUserSiteActivity"/>
        <activity android:name=".Permission.PermissionManagementActivity" />
        <activity android:name=".Permission.PermissionGetAllActivity" />
        <activity android:name=".Permission.PermissionSaveActivity" />
        <activity android:name=".Permission.PermissionRemoveActivity" />
        <activity android:name=".History.HistoryManagementActivity" />
        <activity android:name=".History.HistoryGetAllActivity" />
        <activity android:name=".History.HistoryRemoveActivity" />
        <activity android:name=".History.HistorySaveActivity" />
        <activity android:name=".History.HistoryDetailsActivity" />
        <activity android:name=".Project.ProjectManagementActivity" />
        <activity android:name=".Project.ProjectGetAllActivity" />
        <activity android:name=".Project.ProjectChangeNameActivity" />
        <activity android:name=".Project.ProjectRemoveActivity" />
        <activity android:name=".Project.ProjectSaveActivity" />
        <activity android:name=".Project.ProjectDetailsActivity" />
        <activity android:name=".Project.ProjectChangeNameResultActivity" />
        <activity android:name=".History.HistorySaveWithAttachmentActivity" />
        <activity android:name=".Attachments.AttachmentsManagementActivity" />
        <activity android:name=".Attachments.AttachmentsGetByMineTypeActivity" />
        <activity android:name=".Attachments.AttachmentsGetAllActivity" />
        <activity android:name=".Attachments.AttachmentsRemoveActivity" />
        <activity android:name=".Attachments.AttachmentsDetailsActivity"/>
        <activity android:name=".Priority.PriorityManagement" />
        <activity android:name=".Priority.PriorityChangePriorityName" />
        <activity android:name=".Priority.PriorityShowAll" />
        <activity android:name=".Priority.PriorityShowByName" />
        <activity android:name=".Priority.PrioritySave" />
        <activity android:name=".Priority.PriorityRemove" />
        <activity android:name=".Priority.PriorityChangePriorityNameWindow" />
        <activity android:name=".Role.RoleManagement" />
        <activity android:name=".Role.RoleSave" />
        <activity android:name=".Role.RoleRemove" />
        <activity android:name=".Role.RoleShowAll"></activity>
    </application>

</manifest>